<html>
<script src="{{ url_for('static', filename='js/lib/base64.js') }}"></script>
<script src="{{ url_for('static', filename='js/satosa_webauthn.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<link rel="next" id="manage-url" href="{{ url_for('credentials_manager') }}">
<link rel="next" id="verify-url" href="{{ url_for('verify_credential_info') }}">
<title>Registration page</title>
<body>
<a class="logout" href="{{ url_for('logout') }}">CONTINUE</a>
<h1>Credential Manager</h1>
{% if current_user.is_authenticated %}
    <h3>User: {{ current_user.id }}</h3>
{% endif %}
{% if turn_off %}
    <div id="off_box">
        {% if is_off %}
            The requiring of authentication has been turned off
        {% else %}
            <form action="{{ url_for('turn_off_auth') }}" id="turn_off_form" data-timeout="{{ timeout }}">
                <button class="form_button" type="submit">
                    Turn off authentication
                </button>
            </form>
        {% endif %}
    </div>
    <form action="{{ url_for('turn_on_auth') }}" id="turn_on_form">
        <button class="form_button" type="submit">
            Turn on authentication
        </button>
    </form>
{% endif %}
<table id="credential-list">
    {% if credentials is defined %}
        {% for credential in credentials %}
            <tr class="token">
                <td>{{ credential.display_name }}</td>
                <td>
                    <form method="POST" class="delete-form"
                        action="{{ url_for('credentials_delete', cred_id=credential.credential_id) }}">
                        <button class="token_button" type="submit">DELETE</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
<div class="box" id="register-box">
    <h2>Register new credential</h2>
    <form id="register-form" name="register" method="POST" action="{{ url_for('webauthn_begin_activate') }}">
        <input id="register_display_name" class="form_input" name="register_display_name" placeholder="Token name"><br>
        <button class="form_button" id="register" type="submit">Register new token</button>
        <input id="register_username" name="register_username" value="{{ username1 }}" type="hidden">
    </form>
</div>
<div>
    <img id="webauthn-image" src="{{ url_for('static', filename='final-webauthn-logo-logo-white.png') }}">
</div>
</body>
</html>
