<html>
<script src="{{ url_for('static', filename='js/lib/base64.js') }}"></script>
<script src="{{ url_for('static', filename='js/satosa_webauthn.js') }}"></script>
<script>
    var timeout = {{ timeout }}
</script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<title>Registration page</title>
<body style="background-color: #000044; text-align: center">
<a class="logout" style="  position: absolute;
  right: 5%;
  top: 5%;" href="/logout">CONTINUE</a>
<h1 style="color: white">Credential Manager</h1>
{% if current_user.is_authenticated %}
    <h3 style="color: #dddddd">User: {{ current_user.id }}</h3>
{% endif %}
{% if turn_off %}
    <div id="off_box" style="color: white">
        {% if is_off %}
            The requiring of authentication has been turned off
        {% else %}
            <button onclick="turn_off()" class="form_button" style="margin-top: 10px" id="turn_off_button"
                    type="submit">Turn off authentication
            </button>
        {% endif %}
    </div>
    <button onclick="turn_on()" class="form_button" style="margin-top: 10px" id="turn_off_button" type="submit">Turn on
        authentication
    </button>
{% endif %}
<table style="color: white; width: 426px" align="center">
    {% if credentials is defined %}
        {% for credential in credentials %}
            <tr class="token" align="center">
                <td width="276px">{{ credential.display_name }}</td>
                <td width="150px">
                    <button class="token_button" id="{{ credential.credential_id }}"
                            onclick="delete_credential(this.id)">DELETE
                    </button>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
<div class="box" style="margin-top: 8px">
    <h2 style="color: white">Register new credential</h2>
    <form id="register-form" name="register" method="get">
        <input onclick="disappear(this)" class="form_input" name="register_display_name" value="Token name"></input><br>
        <button class="form_button" style="margin-top: 20px" id="register" type="submit">Register new token</button>
        <input id="register_username" name="register_username" value="{{ username1 }}" hidden></input>
    </form>
</div>
<div>
    <img style="width: 200px; margin-top: 30px; opacity: 0.7" src="{{ url_for('static', filename='yubico.png') }}">
</div>
</body>
</html>