<html>
<script src="{{ url_for('static', filename='js/lib/base64.js') }}"></script>
<script src="{{ url_for('static', filename='js/satosa_webauthn.js') }}"></script>
<script>
    var timeout = {{ timeout }}
</script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<title>Registration page</title>
<body>
<a class="logout" href="/logout">CONTINUE</a>
<h1>Credential Manager</h1>
{% if current_user.is_authenticated %}
    <h3>User: {{ current_user.id }}</h3>
{% endif %}
{% if turn_off %}
    <div id="off_box">
        {% if is_off %}
            The requiring of authentication has been turned off
        {% else %}
            <button onclick="turn_off()" class="form_button" id="turn_off_button" type="submit">
                Turn off authentication
            </button>
        {% endif %}
    </div>
    <button onclick="turn_on()" class="form_button" id="turn_on_button" type="submit">
        Turn on authentication
    </button>
{% endif %}
<table id="credential-list">
    {% if credentials is defined %}
        {% for credential in credentials %}
            <tr class="token">
                <td>{{ credential.display_name }}</td>
                <td>
                    <button class="token_button" id="{{ credential.credential_id }}"
                            onclick="delete_credential(this.id)">DELETE
                    </button>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
<div class="box" id="register-box">
    <h2>Register new credential</h2>
    <form id="register-form" name="register" method="get">
        <input onclick="disappear(this)" class="form_input" name="register_display_name" value="Token name"></input><br>
        <button class="form_button" id="register" type="submit">Register new token</button>
        <input id="register_username" name="register_username" value="{{ username1 }}" hidden></input>
    </form>
</div>
<div>
    <img id="example-image" src="{{ url_for('static', filename='yubico.png') }}">
</div>
</body>
</html>
