<html>
<script src="{{ url_for('static', filename='js/lib/base64.js') }}"></script>
<script src="{{ url_for('static', filename='js/satosa_webauthn.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<title>SATOSA WebAuthn</title>
<body>
<h1>SATOSA WebAuthn</h1>
<div class="box">
    <h2>Log In</h2>
    <form id="login-form" name="login" method="get">
        <input name="login_username" value="{{ username1 }}" hidden>
        <button class="form_button" id="login" type="submit">AUTHENTICATE</button>
    </form>
    <form id="manage-form" name="manage" method="get">
        <input name="login_username" value="{{ username1 }}" hidden>
        <button class="form_button" id="manage" type="submit">MANAGE TOKENS</button>
    </form>
</div>
<div>
    <img id="example-image" src="{{ url_for('static', filename='yubico.png') }}">
</div>
</body>
</html>
